.__ns__ {
  --length1: 3.25px;
  --length2: 6.5px;
  --length3: 13px;
}

form.__ns__ {
  min-height: 25.5px;
  font: 13px var(--sans-serif);
}

.__ns__-label {
  padding-bottom: 3px;
}

@media only screen and (min-width: 30em) {
  form.__ns__ {
    display: flex;
    align-items: center;
  }
  .__ns__-label {
    flex-shrink: 0;
    align-self: start;
    padding-top: 5px;
    padding-bottom: 0;
    width: 120px;
    margin-right: var(--length2);
  }
}

.__ns__ button,
.__ns__ input,
.__ns__ select {
  font: inherit;
  box-sizing: border-box;
}

.__ns__ label {
  display: inline-flex;
  align-items: center;
  margin-right: var(--length3);
}

.__ns__ input[type=radio],
.__ns__ input[type=checkbox] {
  margin-right: var(--length2);
}

.__ns__-input {
  display: flex;
  align-items: center;
}

.__ns__-input,
.__ns__ select {
  width: 240px;
}

.__ns__-input input,
.__ns__-input button,
.__ns__-input output {
  width: inherit;
  min-width: 0;
}

.__ns__-input button,
.__ns__-input output,
.__ns__-input input[type=number] {
  flex-shrink: 2.5;
}

.__ns__-input output {
  white-space: pre;
}

.__ns__-input button {
  margin-left: var(--length1);
}

.__ns__ input[type=search] {
  margin-right: var(--length2);
}

.__ns__ input[type=number] {
  margin-right: var(--length2);
  font-variant-numeric: tabular-nums;
}

.__ns__ input[type=range] {
  margin: 0;
}

.__ns__-table {
  overflow-y: scroll;
  margin: 0 -14px;
}

.__ns__ table {
  max-width: initial;
  min-height: 33px;
  margin: 0;
  border-collapse: separate;
  border-spacing: 0;
  font-variant-numeric: tabular-nums;
  line-height: inherit;
}

.__ns__ thead th span {
  display: inline-block;
  width: 0.5em;
  margin-left: -0.5em;
}

.__ns__ td,
.__ns__ th {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  border-bottom: solid 1px #eee;
}

.__ns__ tr > :not(:first-of-type) {
  padding-left: var(--length2);
}

.__ns__ tr > :last-of-type {
  padding-right: var(--length3);
}

.__ns__ tr > :first-of-type {
  width: 19px;
}

.__ns__ tr,
.__ns__ tr:last-child td {
  border-bottom: none;
}

.__ns__ tr > :first-of-type input {
  opacity: 0;
  margin: 0 3px 3px 4px;
}

.__ns__ tr:hover > :first-of-type input,
.__ns__ tr > :first-of-type input:focus,
.__ns__ tr > :first-of-type input:checked {
  opacity: inherit;
}

.__ns__ thead th {
  position: sticky;
  top: 0;
  background: white;
  border-bottom: solid 1px #ccc;
  cursor: ns-resize;
}
